@font-face {
    font-family: "Roboto";
    src: url("/resources/fonts/Roboto-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EBEDEF;
}

#container {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
}

h1 {
    color : green;   
     text-align:center;  
}

#content {
	background-color: white;
	 padding:15px;  
	display: flex;
}

img {
	object-fit: cover;
	 width: 40%;
}

#right {
	padding-left: 15px;
}

h3 {
	color:crimson;
	 text-align: center;
}

input {
	width:100%;   
	 padding: 7px; 
	border: 1px solid #0da574;
	border-radius: 3px;
	box-sizing: border-box;
}

h4 {
	  background-color: darkgrey;
	  color:rgb(0, 0, 0);
	 text-align: center;
	padding: 7px;
	border-radius: 3px;
}
